.theme-blog-popover .body.content {
  text-align: initial ;
  padding: 10px 20px 0;
}

.theme-blog-popover .body.content p {
  white-space: nowrap ; /* 防止换行 */
  overflow: hidden ; /* 隐藏超出的内容 */
  text-overflow: ellipsis ; /* 显示省略号 */
  display: block ; /* 保证样式正常作用 */
  max-width: 200px ; /* 设置一个最大宽度，超出部分才会被省略 */
  cursor: pointer ; /* 鼠标悬停时的指针样式 */
  position: relative !important;
  padding: 2px 0 !important; 
  text-align: left !important;
}

.theme-blog-popover .body.content p:hover {
  white-space: normal !important;
  overflow: visible !important; /* 显示完整内容 */
  max-width: none !important; /* 不限制宽度 */
  position: absolute ; /* 悬停时脱离文档流 */
  background: var(--vp-c-bg-hover, #fff); /* 可选：设置悬停背景色 */
  border: 1px solid var(--vp-c-brand-2); /* 可选：增加悬停边框 */
  padding: 1px 0 !important; 
  z-index: 100; /* 确保内容层级更高 */
  box-shadow: var(
    --box-shadow-hover,
    0px 2px 8px rgba(0, 0, 0, 0.15)
  ); /* 可选：阴影效果 */
}
