h1[id],h2[id],h3[id],h4[id],h5[id],h6[id] {
    position: relative;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: text;
}

h1[id] {
  padding-bottom: 0.3em;
  margin: 2.4em auto 1.2em;
  font-size: 2em;
  line-height: 1.2;
  text-align: center;
}

h1[id]::after {
  display: block;
  width: 100px;
  height: 2px;
  margin: 0.2em auto 0;
  content: "";
  border-bottom: 2px dashed var(--vp-c-brand-1);
}

h2[id] {
  margin: 2em 0 0.75em -0.5em;
  padding: 0.3em;
  font-weight: bold;
  line-height: 0.8;
  border: 1px dashed var(--vp-c-brand-2);
  border-left: 4px solid var(--vp-c-brand-2);
}

h2[id] .header-anchor {
  top: 6px;
}
