.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom--opened .medium-zoom-image {
  z-index: 199 !important;
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

:root {
  --vp-c-brand-1: #18794e;
  --vp-c-brand-2: #299764;
  --vp-c-brand-3: #30a46c;

  --vp-custom-block-info: #cccccc;
  --vp-custom-block-info-bg: #fafafa;
  --vp-custom-block-note: #4cb3d4;
  --vp-custom-block-note-bg: #eef9fd;
  --vp-custom-block-tip: #009400;
  --vp-custom-block-tip-bg: #e6f6e6;
  --vp-custom-block-warning: #e6a700;
  --vp-custom-block-warning-bg: #fff8e6;
  --vp-custom-block-danger: #e13238;
  --vp-custom-block-danger-bg: #ffebec;
  --vp-custom-block-important: #a371f7;
  --vp-custom-block-important-bg: #f4eefe;

  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );
  /* hero logo 背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);

  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --vp-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --vp-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

.dark {
  --vp-c-brand-1: #3dd68c;
  --vp-c-brand-2: #30a46c;
  --vp-c-brand-3: #298459;

  --vp-custom-block-info: #cccccc;
  --vp-custom-block-info-bg: #474748;
  --vp-custom-block-note: #4cb3d4;
  --vp-custom-block-note-bg: #193c47;
  --vp-custom-block-tip: #009400;
  --vp-custom-block-tip-bg: #003100;
  --vp-custom-block-warning: #e6a700;
  --vp-custom-block-warning-bg: #4d3800;
  --vp-custom-block-danger: #e13238;
  --vp-custom-block-danger-bg: #4b1113;
  --vp-custom-block-important: #a371f7;
  --vp-custom-block-important-bg: #230555;
}

/* 禁止双指缩放 */
body,
html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -ms-touch-action: manipulation;
}

.VPSidebarItem.is-link.is-active.has-active .text {
  font-weight: 600 !important;
  color: var(--vp-c-brand-1) !important;
  transition: color 0.25s !important;
}


/* 侧边栏缩放 */
.group:has([role='button']) .VPSidebarItem.level-0 .items {
  padding-left: 15px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}

/* 侧边栏图标 */
/* 选中所有 .VPSidebarItem 元素，排除带有 .is-link 类的 */
#VPSidebarNav .VPSidebarItem:not(.is-link) >.item {
    display: inline-flex;
    align-items: center;  /* 垂直居中对齐图标和文本 */
}

/* 为所有不带 .is-link 的 .VPSidebarItem 添加图标 */
#VPSidebarNav .VPSidebarItem:not(.is-link) >.item::before {
    content: '';
    background-image: url('/svg/document.svg'); /* 设置图标路径 */
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;  /* 确保图标与文本垂直居中 */
    background-size: cover;
    margin-right: 4px;  /* 给图标和文本之间增加间距 */
}

/* 选中带有 .is-link 的 .VPSidebarItem 的直接子元素 .item */
#VPSidebarNav .VPSidebarItem.is-link > .item {
    display: inline-flex;
    align-items: center;  /* 垂直居中图标和文字 */
}

/* 为选中的 .item 添加图标 */
#VPSidebarNav .VPSidebarItem.is-link > .item::before {
    content: '';
    background-image: url('/svg/file.svg'); /* 图标路径 */
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    margin-right: 4px;  /* 图标与文字间距 */
}